html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: #D5D4D8;
    font-family:"Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}

header, main {
    padding-left: 14px;
}

header {
    margin-top: 25px;
}

h1 {
    font-size: 1.6rem;
}

main, section,
.scheme-color {
    position: relative;
}

main {
    padding-bottom: 24px;
    height: 43px;
    display: flex;
    box-shadow: 0 2px 11px rgb(0 0 0 / 0.15);
    z-index: 1;
}

button {
    background-color: #3D4B60;
    color: white;
    padding: 2px 11px;
    margin-right: 9px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    min-width: 160px;
}

button:hover,
button:focus {
    background-color: #b1bccd;
    color: black;
}

button:active {
    background-color: #3D4B60;
}

#seed-color {
    margin-right: 12px;
    width: 61px;
    height: 100%;
    cursor: pointer;
}

#scheme-mode-select {
    background-color: #1F2937;
    color: inherit;
    padding: 9px 13px;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 400;
    margin-right: 13px;
    width: 300px;
    border: 1.6px solid;
}

select,
::picker(select) {
    appearance: base-select;
}

::picker(select) {
    background-color: inherit;
    color: whitesmoke;
    border: none;
    border: 1px solid #D5D4D8;
    border-radius: 6px;
}

option {
    padding: 8px 12px;
}

option:checked {
    font-weight: 600;
}

option::checkmark {
    order: 1;
    content: "✓";
    margin-left: auto;
}

#scheme-result {
    z-index: -1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: 100%;
    min-height: 60vh;
    max-height: 80vh;
    gap: 50px;
}

.modal-default {
    display: none;
    position: absolute;
    background-color: rgb(73, 73, 73, 0.8);
    opacity: 0;
    color: white;
    font-weight: 300;
    padding: 8px 16px;
    border-radius: 16px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 25px;
    max-width: 250px;
    text-align: center;
    transition: all 0.9s allow-discrete;
}

.modal-display {
    display: block;
    opacity: 1;
    transition: all 0.5s ease-in;
}

.scheme-color {
    width: 100%;
    height: 100vh;
}

.scheme-color p {
    position: absolute;
    bottom: -40px;
    width: 100%;
    margin: 11px 0;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 415px) {
    h1 {
        font-size: 1.1rem !important;
    }

    main {
        margin-bottom: 7rem !important;
    }

    #seed-color,
    #scheme-mode-select {
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.3rem;
    }
    main {
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 3.4rem;
    }
    #seed-color {
        min-width: 62px;
    }
    #scheme-mode-select {
        min-width: 250px;
    }
    button {
        width: 100%;
        padding: 12px 11px;
    }
}

@media (min-width: 720px) {
    button {
        padding: 12px 11px;
        font-size: 1.14rem;
    }

    #scheme-mode-select {
        width: 312px;
    }

    #scheme-result {
        flex-direction: row;
        list-style: none;
        min-width: 100%;
        min-height: 60vh;
        max-height: 80vh;
        gap: 0;
    }

    .scheme-color {
        width: 50%;
        height: inherit;
    }
}